body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4vh;
  margin: 0;
  text-align: center;
  color: rgb(22, 21, 21);
}

h3 {
  font-size: 2vh;
  margin: 1vh 0 0 0;
  text-align: center;
  color: rgb(22, 21, 21);
}

@media (max-height: 400px) {
  h3 {
    margin: 1vh 0 0 0;
  }
}
h4 {
  font-size: 1.5vh;
  margin: 1.5vh 0 0 0;
  text-align: center;
  color: rgb(22, 21, 21);
}

h5 {
  font-size: 1.7vh;
  text-align: left;
  margin: 0;
  color: rgb(22, 21, 21);
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 21, 21);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.madeContainer {
  width: 100%;
  height: 30%;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.madeContainer__heading {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.madeContainer__values {
  width: 100%;
  height: calc(100% - 7vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.madeContainer__inputsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputContainer input {
  width: 65%;
  height: 7vh;
  text-align: center;
  font-size: 4vh;
  border: 2px rgb(219, 219, 219) solid;
  border-radius: 5px;
}

.madeContainer__descriptionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  width: 100%;
}

.inputValueContainer {
  width: 30%;
  text-align: center;
}

.worksContainer {
  width: 100%;
  height: calc(40% + 10px);
  margin: 10px 0px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.worksContainer__heading {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.works {
  height: 90%;
  width: 100%;
}

.works__rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  flex-direction: row;
  align-items: flex-start;
}

.works__workBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2vw 0 2vw;
  height: 80%;
  position: relative;
}

.imageBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 5px;
  height: 60%;
}

.workLink {
  width: 100%;
  object-fit: cover;
}

.workBlock__none {
  width: 100%;
  height: 100%;
  background-color: #3D6E8C;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 20%;
  display: none;
}

.workValueContainer {
  width: 100%;
  height: 8%;
  background-color: #F9F9F9;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.valueContainer {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: flex-start;
}

.workValueContainer__deskr {
  width: 40%;
}

.workValueContainer__size {
  width: 30%;
}

.workValueContainer__lot {
  width: 20%;
}

.workValueContainer__icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
}
.workValueContainer__icon img {
  height: 3vh;
  object-fit: cover;
}

.buttonsContainer {
  width: 100%;
  height: 26%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40%;
}
.btnContainer button {
  height: 6vh;
  width: 40vw;
  font-size: 3vh;
  border-radius: 5px;
  font-weight: bold;
  background-color: #F9F9F9;
  color: rgb(22, 21, 21);
  border: none;
}
.btnContainer button:active {
  background-color: rgb(199, 199, 199);
}

.wrapper__hideContainer {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(22, 21, 21);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  opacity: 100%;
}

.hide__madeContainer {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F9F9F9;
  justify-content: flex-start;
}

.hide__madeContainer_header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hide__block {
  width: 100%;
  height: calc(100% - 7vh);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.hide__block_element_container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.hide__block_element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
}

.hide__block_element_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.hide_h4 {
  margin: 0;
}

.hide__block_element_values {
  width: 100%;
  height: 4vh;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
}

.hide__volumeContainer {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F9F9F9;
  margin: 10px 0;
  justify-content: flex-start;
}

.hide__volumeContainer_header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hide__elem {
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  align-items: flex-start;
}

.hide__elem_work {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.hide__elem_work_value {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.hide__totalContainer {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F9F9F9;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.hide__totalContainer_block {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorMessageBlock {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  height: 50%;
  background-color: brown;
  display: none;
  justify-content: center;
  align-items: center;
}
.errorMessageBlock h1 {
  color: #F9F9F9;
}

/*# sourceMappingURL=style.css.map */
