body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4vh;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 2vh;
  margin: 2vh 0 0 0;
  text-align: center;
}

@media (max-height: 400px) {
  h3 {
    margin: 1vh 0 0 0;
  }
}
h4 {
  font-size: 1.5vh;
  margin: 1.9vh 0 0 0;
  text-align: center;
}

h5 {
  font-size: 1.7vh;
  text-align: left;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 21, 21);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.madeContainer {
  width: 100%;
  height: 18vh;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.madeContainer__heading {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.madeContainer__values {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.madeContainer__inputsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputContainer input {
  width: 65%;
  height: 5vh;
  text-align: center;
  font-size: 4vh;
  border: 2px rgb(219, 219, 219) solid;
  border-radius: 5px;
}

.madeContainer__descriptionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  width: 100%;
}

.inputValueContainer {
  width: 30%;
  text-align: center;
}

.worksContainer {
  width: 100%;
  height: 44%;
  margin: 10px 0px 10px 0px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.worksContainer__heading {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.works {
  height: 90%;
  width: 100%;
}

.works__rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  flex-direction: row;
  align-items: flex-start;
}

.works__workBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2vw 0 2vw;
  height: 80%;
  cursor: pointer;
}

.imageBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  height: 60%;
}

.workLink {
  width: 100%;
  object-fit: cover;
}

.workValueContainer {
  width: 100%;
  height: 8%;
  background-color: #F9F9F9;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.valueContainer {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: flex-start;
}

.workValueContainer__deskr {
  width: 40%;
}

.workValueContainer__size {
  width: 30%;
}

.workValueContainer__lot {
  width: 20%;
}

.workValueContainer__icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
}
.workValueContainer__icon img {
  height: 3vh;
  object-fit: cover;
}

.buttonsContainer {
  width: 100%;
  height: 26%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40%;
}
.btnContainer button {
  height: 6vh;
  font-size: 3vh;
  border-radius: 5px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
